# Build and Release Folders
bin-debug/
bin-release/
starling/doc/html/

# Project property files
.settings/
.flexProperties
.flexLibProperties
.project
.actionScriptProperties
.FlexUnitSettings
.idea/
*.iml

# swc
starling/bin/starling.swc

# OS X folders
.DS_Store

*.swc
